* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_3 {
  width: 100%;
  height: 1024px;
  background: linear-gradient(rgba(20,30,48,1), rgba(36,59,85,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_7 {
  width: 569px;
  height: 421px;
  background: url("../images/v2_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 436px;
  overflow: hidden;
}
.v2_43 {
  width: 333px;
  color: rgba(236,235,234,1);
  position: absolute;
  top: 512px;
  left: 553px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v2_49 {
  width: 304px;
  height: 102px;
  background: url("../images/v2_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 249px;
  overflow: hidden;
}
.v2_44 {
  width: 304px;
  height: 102px;
  background: rgba(235,98,98,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v2_46 {
  width: 304px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v2_48 {
  width: 304px;
  height: 102px;
  background: url("../images/v2_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 556px;
  overflow: hidden;
}
.v2_45 {
  width: 304px;
  height: 102px;
  background: rgba(235,98,98,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v2_47 {
  width: 304px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
