* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 1.6vw;
}

/* Background */
.leftBox {
  display: flex;
  background: rgb(36, 65, 97);
  position: relative;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  color: white;
  font-size: 1.6vw;
}
.rightBox {
  display: flex;
  background: rgb(255, 255, 255);
  position: relative;
  margin-left: 50vw;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
  color: white;
  font-size: 1.6vw;
}
.loginBtn {
  display: flex;
  background: rgb(255, 0, 140);
  position: relative;
  height: 6vh;
  width: 10vw;
  margin-top: 80vh;
  margin-left: 30vw;
  border-radius: 5vh;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
}
.homeBtn {
  display: flex;
  background: rgb(0, 255, 255);
  position: relative;
  height: 6vh;
  width: 15vw;
  margin-top: 5vh;
  margin-left: 8vw;
  border-radius: 5vh;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
}
.registerBtn {
  display: flex;
  background: rgb(255, 238, 0);
  position: relative;
  height: 6vh;
  width: 10vw;
  margin-top: 80vh;
  margin-left: 20vw;
  border-radius: 5vh;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
}

.imgCont {
  display: flex;
 
  position: absolute;
  height: 60vh;
  width: 40vw;
  margin-top: 10vh;
  margin-left: 5vw;

  justify-content: center;
  align-content: center;

  overflow: hidden;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
}
