/*Base*/
main {
  position: fixed;
  background-image: linear-gradient(45deg,crimson,navy);
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
  height: 100vh;
  width: 100%;
}

.box{
  display: flex;
  position: relative;
  background: white;
  margin: auto;
  margin-top: 5vh;
  height: 90vh;
  width: 90%;
  align-items: center;
  text-align: center;
  vertical-align: center;
  border-radius: 15px;
  overflow: hidden;
  color: midnightblue;
  font-size: 1.6vw;
}

.outerDivider {
  width: 3px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-left: 55vw;
}
.innerDivider {
  position: absolute;
  left: 80;
  width:60%;
  height: 50%;
  background: navy;
  top: 25%; 
  box-shadow: 0px 0px 30px 20px navy;
}



.login-btn {
  display: flex;
  background: midnightblue;
  position: relative;
  height: 6vh;
  width: 20vw;
  margin-top: 200px;
  margin-right: 60px;
  border-radius: 5vh;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  color: rgb(255, 0, 0);
  fon
  font-size: 1.6vw;
  font-weight: bold;
}

.white-btn {
  display: flex;
  background: white;
  position: relative;
  height: 6vh;
  width: 15vw;
  margin-top: 5vh;
  margin-left: 8vw;
  border-radius: 5vh;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  color: navy;
  font-size: 1.6vw;
  font-weight: bold;
}

.logo-container {
  display: flex;
 
  position: absolute;
  height: 60vh;
  width: 40vw;
  margin-top: 5vh;
  margin-left: 5vw;

  justify-content: center;
  align-content: center;

  overflow: hidden;
  color: white;
  font-size: 1.6vw;
  font-weight: bold;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 1px solid navy;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
} 